* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family:'Inter',sans-serif;
	background-color:#e9ecef;
}

img {
	width:75px;
	height:75px;
}

.card-logo {
	width:150px;
	height:150px;
}

.container {
	width:800px;
	margin:100px auto;
}

.cards {
	display:flex;
	justify-content: space-between;
	margin-top:40px;
}

.card-container {
	font-size:50px;
	text-align:center;
	font-weight:800;
}


.card-container h2 {
	font-size:65px;
	font-weight:800;
}

.card-container p {
	font-size:22px;
	padding-top:30px;
	color:grey;
}
.card {
	text-align: center;
}
.card h3 {
	padding-top:20px;
	font-size:18px;
	font-weight:bold;
}

.card p {
	padding-top:20px;
	font-size:16px;
}
