/*
--- 01 TYPHOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 

- Line heights: ;
Default : 1;

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 COLORS
 
- Primary: #1971c2;
shade: #;

text shade: #333;



shadow : 
#8cb8e1;
#5e9cd4
-Line height


-Letter spacing


--- 05 SHADOWS


--- 06 BORDER RADIUS

Default : 9px;
Medium : 11px;


--- 07 WHITESPACE

*/
* {
	margin:0;
	padding:0;
	border-size:border-box;
}


body {
	font-family: 'Roboto', sans-serif;
}

.main-nav {
	margin-top:2.4rem;
	display:flex;
	justify-content: space-around;
	font-size:1.2rem;
}

.nav-link {
	list-style-type:none;
	margin-left:2rem;
}

.nav-links {
	display:flex;
	flex-direction:row;
}

.nav-links a {
	text-decoration:none;
}

.section-header {
	display:flex;
	justify-content: center;
	margin-top:8rem;
	margin-bottom:9.6rem;
}

.header-container {
	width:50rem;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	gap:2.6rem;
}

.header-title {
	font-size:3.8rem;
	font-weight:600;
	line-height: 1.2;
}

.header-feedback {
	font-size:1.2rem;
	line-height:1.3;
	
}

.header-button {
	padding:1.6rem;
	text-decoration: none;
	background-color: #1971c2;
	color:white;
	font-weight:600;
	border-radius:12px;
	align-self: center;
}

.header-button {
	align-self: center;
}

.logos {
	padding:1.8rem;
	display:flex;
	justify-content: space-evenly;
	background-color:#307fc8;
	color:white;
	text-align:center;
	align-items: center;
}
 
.logos h3 {
	font-size:2.6rem;
}

.logos p {
	font-size:1.2rem;

}

.section-features {
	width:100%;
	margin-bottom:20rem;
} 

.features-heading {
	margin-top:10rem;
	text-align:center;
}

.features-heading h3 {
	font-size:2.6rem;
	font-weight:500;
	margin-bottom:3rem;
}

.features-heading p {
	font-size:1.2rem;
	margin-bottom:20px;
}

/* TEXT ALIGN CENTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.feature-cards {
	text-align:center;
	margin-top:10rem;
	margin-bottom:10rem;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}


.feature-card-icon {
	width:7.5rem;
	height:7.5rem;
	color:#1971c2;
	margin-bottom:2rem;
}

.feature-card-heading {
	margin-bottom:19px;

}

.card {
	box-shadow: 10px 5px 5px #8cb8e1;
	padding:60px;
	border:5px solid #5e9cd4 ;
	width:300px;
}

.card:hover {
	transition: 0.3s;
	box-shadow: 10px 5px 5px white;
	transform: translateY(-2.1rem);
}

.feature-card-description {
	
}

.cta-section {
	margin-top:40px;
	margin-bottom:20px;
}

.cta-container {
	display:grid;
	width:100%;
	grid-template-columns: 1fr 1fr;
	margin-bottom:50px;
	height:500px;
	background-color:#8cb8e1;

}
.cta-text-box{
	margin-left:1rem;
	display:flex;
	flex-direction:column;
	gap:4rem;
	padding:5rem;

}
.cta-text-box p {
		font-size:1.2rem;

}
.cta-text {
	font-size:2rem;
	color:#333;

}

.cta-button {
	padding:1.6rem;
	background-color:#1971c2;
	text-decoration:none;
	border-radius:14px;
	color:white;
	font-weight:600;
}


.cta-image {
	background-image:url('images/coinimage')
}



.footer-boxes {
	margin-top:20px;
	text-align:center;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.footer-boxes .footer-box:nth-of-type(3) {
	display:flex;
	flex-direction:column;
	align-self:end;
}
.footer-list {
	list-style-type:none;
	padding:3rem;
	margin-left:4rem;
	text-align:left;

}
.copyright{
	color:#333;
}


.footer-list li {
	margin-top:20px;
}
.footer-links {
	margin-top:20px;
}

.footer-links {
	text-decoration:none;
}
.cta-description {
	width:500px;
	line-height:1.6;
}
.cta-image {
	background-image:url('images/application.jpg');
	background-size:cover;
	width:100%;
}